/*
TODO: vw 指定のやつを game 要素のサイズに合わせて自動調整する。横 > 縦のときにうまく動いてない
*/

@font-face {
  font-family: "PixelMplus12-Regular.ttf";
  src: url("/font/PixelMplus12-Regular.ttf");
}

.color_red {
  color: #ff5150;
}

.color_orange {
  color: #ffa138;
}

.color_green {
  color: #2bff70;
}

.color_aqua {
  color: #32cbff;
}

.color_blue {
  color: #6e6fff;
}

.color_purple {
  color: #e254ff;
}

.color_pink {
  color: #ff84c4;
}

.color_gray {
  color: #888282;
}

body {
  font-family: "PixelMplus12-Regular.ttf";

  /* 赤 */
  /* オレンジ（薄） */
  /*color: #ffc686;*/
  /* 緑 */
  /*color: #2bff70;*/
}

#root {
  background: url("/img/background.jpg") no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/*
アス比固定
https://qiita.com/ryounagaoka/items/a98f59347ed758743b8d#div%E3%82%84p%E3%81%AA%E3%81%A9%E3%81%AE%E3%83%96%E3%83%AD%E3%83%83%E3%82%AF%E8%A6%81%E7%B4%A0%E3%81%AE%E5%A0%B4%E5%90%88
*/
.game_wrapper {
  position: relative;
  width: 100%;
  margin: auto;

  max-height: 100vh;
  max-width: 160vh;
}

.game_wrapper:before {
  content: "";
  display: block;
  /* 16:10 */
  padding-top: 62.5%;
}

.game {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;

  background: url("/img/frame.png") top left / contain no-repeat;
}

.lyric_box {
  position: absolute;
  box-sizing: border-box;
  left: 6.7%;
  top: 16.2%;
  width: 55.2%;
  height: 39.4%;

  font-size: 30px;
  padding: 1vw;
}

.keys_box {
  position: absolute;
  box-sizing: border-box;
  left: 6.7%;
  top: 56.7%;
  width: 55.2%;
  height: 8%;

  font-size: 2.5vw;

  letter-spacing: 0.1rem;
  padding: 1vw;
  vertical-align: bottom;
}

.lyric_row {
  padding-bottom: 1vw;
}

.lyric_done, .keys_done {
  color: white;
}

.lyric_remains, .keys_remains {
}

.lyric_row_kanji {
  font-size: 2.5vw;
}

.lyric_row_hiragana {
  font-size: 1.8vw;
}

.start_button {
  position: absolute;
  box-sizing: border-box;
  left: 63.8%;
  top: 48.2%;
  width: 9%;
  height: 5.8%;

  border-style: none;
  outline:none;

  background: url("/img/start.png") top left / contain no-repeat
}